*{
    display: flex;
    align-items: center;
    font-size: 30px;
    padding-left: 250px;
    flex:0 1 auto;
    flex-wrap: nowrap;
    
}


button{
    justify-content: right;
    padding: 30px;
    box-shadow: 30px;
    height: 100px;
    width: 150px;
    border-radius: 30px;
    border-color: chartreuse;
  
}

a{
    display: flex;
    padding: 10px;
    color: chocolate;
    
   
}

a:active{
    color: red;
}

